<div class="card mb-3" style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @post.title %></h5>
        <p class="card-text"><%= @post.body %>.</p>
      </div>
    </div>
  </div>
</div>